DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

APP_PORT=
APP_DEBUG=

PACKET_DELIMITER=
PACKET_TERMINATOR=
PACKET_TOKEN=
PACKET_RESPONSE=
PACKET_VALUES_COUNT=
PACKET_NON_VALUES_PARTS_COUNT=

CURRENT_STATUS_KEY=
CHANNEL_NAME=
START_LISTENING_COMMAND=
STOP_LISTENING_COMMAND=

REDIS_ADDRESS=
REDIS_PASSWORD=
REDIS_DB=